* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, sans-serif;
}

body {
    background-color: #050a18; 
    color: white;
    line-height: 1.6;
}

section {
    padding: 100px 10%; 
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    position: sticky;
    top: 0;
    background-color: #050a18;
    z-index: 100;
}

.logo {
    font-size: 32px;
    font-weight: bold;
    color: #00d2ff; 
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-size: 18px;
}

.nav-links a:hover {
    color: #00d2ff;
}


.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    width: 60%; 
}

.hero-text h1 {
    font-size: 55px;
    margin-bottom: 10px;
}

.hero-text h1 span {
    color: #00d2ff;
}

.hero-text h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 18px;
    color: #ccc;
    margin-bottom: 30px;
}

.resume-btn {
    background-color: #00d2ff;
    color: #050a18;
    border: none;
    padding: 15px 35px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}


.hero-image {
    width: 35%;
    text-align: right;
}

.circle {
    width: 380px;
    height: 380px;
    background-color: #00aaff;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.section-title, .title {
    color: #00d2ff;
    font-size: 45px;
    text-align: center;
    margin-bottom: 50px;
}


.about-para {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
    color: #e0e0e0;
}

.social-links {
    text-align: center;
    font-size: 20px;
}

.social-links a {
    color: #00d2ff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 24px;

}
  .social-icon {
   width: 38px;
   height: 38px;
   vertical-align: middle;
}


.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.skill-card {
    background-color: white;
    color: black;
    padding: 25px;
    width: 180px;
    height: 250;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,210,255,0.2);
}

.skill-card img {
    width: 70px;
    margin-bottom: 10px;
}

.projects {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.project {
    background-color: white;
    color: black;
    width: 320px;
    padding: 25px;
    border-radius: 15px;
}

.project h3 {
    margin-bottom: 10px;
    font-size: 24px;
}

.project p {
    color: #555;
    margin-bottom: 20px;
}
.project-img {
  width: 520px;             
  min-height:380px;           
  object-fit: cover;        
  border-radius: 35px;  
  padding:25px;
}


.project-buttons {
  display: flex;
  gap: 12px;
  margin-top: 35px;
}


.btn {
  padding: 10px 18px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.3s ease;
  display: inline-flex;
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  padding: 10px 18px;
}


.btn-github {
  border: 2px solid #3b82f6;
  color: #3b82f6;
  background: transparent;
}

.btn-github:hover {
  background-color: #3b82f6;
  color: #fff;
  transform: translateY(-2px);
}

.btn-sm {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
}

.outline {
    background: white;
    border: 1px solid #007bff;
    color: #007bff;
}


.edu-box {
    background-color: #0d162d;
    padding: 40px;
    border-radius: 15px;
    margin-bottom: 30px;
    border-left: 6px solid #00d2ff;
}

.edu-box h2 {
    margin-bottom: 15px;
    color: #00d2ff;
}


.contact-section {
    text-align: center;
    background-color: #070e24;
}